@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.fw-inherit {
  font-size: inherit;
}
.bg-red {
  background-color: #650018;
}
.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: var(--bs-body-color);
  --bs-dropdown-bg: #83181A;
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: var(--bs-border-radius);
  --bs-dropdown-border-width: 0;
  --bs-dropdown-inner-border-radius: calc(
    var(--bs-border-radius) - var(--bs-border-width)
  );
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: var(--bs-box-shadow);
  --bs-dropdown-link-color: var(--bs-body-color);
  --bs-dropdown-link-hover-color: var(--bs-body-color);
  --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: 13rem;
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}
#hero {
  height: 100vh !important;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
}

.vh-75 {
  min-height: 75vh;
}
.vh-70 {
  min-height: 70vh;
}
.vh-50 {
  min-height: 50vh;
}
.vh-100 {
  min-height: 100vh;
}
.bg-grey {
  background-color: #9e9da3;
}

.btn-primary {
  --bs-btn-bg: #83181A;
  --bs-btn-border-color: #83181A;
  --bs-btn-disabled-bg: #83181A;
  --bs-btn-disabled-border-color: #83181A;
}
.btn-secondary {
  --bs-btn-bg: #052747;
  --bs-btn-border-color: #052747;
  --bs-btn-disabled-bg: #052747;
  --bs-btn-disabled-border-color: #052747;
}
.btn-outline-primary {
  --bs-btn-color: #83181A;
  --bs-btn-border-color: #83181A;
  --bs-btn-hover-bg: #83181A;
  --bs-btn-hover-border-color: #83181A;
  --bs-btn-active-bg: #83181A;
  --bs-btn-active-border-color: #83181A;
  --bs-btn-disabled-color: #83181A;
  --bs-btn-disabled-border-color: #83181A;
}

/* Some default text and background color styling, fonts */
.nav-active {
  color: #383634;
  background-color:#83181a27 ;
}
.fs-7 {
  font-size: 0.9rem;
}
.fs-8 {
  font-size: 0.8rem;
}
.fs-9 {
  font-size: 0.7rem;
}
.fs-10 {
  font-size: 0.6rem;
}
.p-0 {
  padding: 0 !important;
}
.w-33 {
  max-width: 250px !important;
}
.text-justify {
  text-align: justify;
}

.text-school-white{
  color: #fdfdfdf5;
}

.text-dark-grey{
  color: #383634;
}

.text-dark-grey-100{
  color:#7E8089
}

.text-light-grey{
  color: #7F828C;
}

.text-school-red{
  color: #83181A;
}

.bg-subtle-white{
  background-color: #fdfdfdf5;
}

.bg-school-red{
  background-color: #83181A;
}

.bg-school-grey{
  background-color: #383634;
  
}

.bg-school-grey-25{
  background-color: #383634d2;
  
}

.contact-color{
  color: #d8c4c4e8 ;
}

.ff-c{
  font-family: candara;
}

.ff-cl{
  font-family: candara light;
}

.ff-impact{
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #83181A;
  background-color: var(--bs-dropdown-link-hover-bg);
}

.fluid-img {
  width: 110% !important;
  height: 100vh !important;
  object-fit: cover !important;
  background-attachment: fixed !important;
  /* animation: scrollBg 3s linear forwards; */
}
.img-carousel-1 {
  background-image: url("/assets/carousel/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-attachment: fixed;
  animation: scrollBack 30s linear forwards;
}

@keyframes scrollBack {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-330px);
  }
}

.img-carousel-2 {
  background-image: url("/assets/carousel/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-attachment: fixed;
  animation: scrollforward 30s linear infinite forwards;
}
.img-carousel-3 {
  background-image: url("/assets/carousel/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-attachment: fixed;
  animation: scrollBack 30s linear infinite forwards;
}

@keyframes scrollforward {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(330px);
  }
}

.index-2 {
  z-index: 2;
}

/* Nav links style */
nav ul li a:hover{
  color: #7F828C !important;
}

.school-name-warpper{
  border-left: 2px solid #7F828C ;
  
}

/* Hero overlay */
#cta {
  background-color: #c8c6bc0a;
  margin-top: -7rem;
  z-index: 99 !important;
  position: relative;
}

/* About Section */
#intro {
  background-color: #f4f4f27c;
}

.about-img {
  background-image: url("/assets/junks-images/IMG_1648.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-to{
  width: 2vw;
  height: .3vh;
  background-color: #5a5b5f;
}


/* SCHHOL VALUES STYLING */
.school-values{
  background-image: linear-gradient( rgba(0, 0, 0, 0.918),  rgba(0, 0, 0, 0.76)), url("/assets/images/Mission-underlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.value-1{
  background-color: #fff0f04b;
}

.value-2{
  background-color: #5a5b5f8a;
}

.value-3{
  background-color: #383634b0;
}

/* Events Gallery */

.events{
  width: 90%;
  max-width: 1536px;
  height: 65vh;
  overflow: hidden;
  margin-inline: auto;
  margin-top: 1em;
  position: relative;
}

/* Aniamtion for the event */
@keyframes scrollLeft {
  to{
      left: -350px;
  }
}

/* Styling the event items  */
.events-items{
  min-width: 350px;
  height: 50vh;
  border-radius: 10px;
  position: absolute;
  animation: scrollLeft 25s linear 0s infinite;
  cursor: pointer;
  /* box-shadow: 3px 2px 5px 1px #38363470; */
    /* for responsiveness */
  left: calc(350px * 5);
}

/* Each event item calculation */
.item-1{
  animation-delay: calc(25s / 5 * (5 - 1) * -1);
}
.item-2{
  animation-delay: calc(25s / 5 * (5 - 2) * -1);
}
.item-3{
  animation-delay: calc(25s / 5 * (5 - 3) * -1);
}
.item-4{
  animation-delay: calc(25s / 5 * (5 - 4) * -1);
}
.item-5{
  animation-delay: calc(25s / 5 * (5 - 5) * -1);
}

/* events images */
.event-img{
  width: 100%;
  height: 70%;
  /* background-color: #5a5b5f; */
  border: 1px solid #3836346e;
}

/* Event links */
.event-link-container{
  background-color: #ffffff;
  height: 40%;
  width: 80%;
  position: relative;
  bottom: 3rem;
  z-index: 1;
  border-radius: 6px;  
  box-shadow: 1px 1px 5px 1px #a8a7a675;

}

.event-link:hover{
  transition: all .5s ease 0s !important;
  color: #83181A;
}


.event-img-default{
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-img-one{
  background-image: url('/assets/junks-images/IMG_1653.JPG');

}

.event-img-two{
  background-image: url('/assets/junks-images/school-colleagues-holding-each-other.jpg');

}

.event-img-three{
  background-image: url('/assets/junks-images/IMG_1650.JPG');

}

.event-img-four{
  background-image: url('/assets/junks-images/IMG_1649.JPG');

}

.event-img-five{
  background-image: url('/assets/junks-images/IMG_20240626_101600_899.jpg');

}

/* Gallery */
.gallery{
  min-height: 70vh; 
  margin-top: 5vh; 
  width: 100%;
  background-color: #1515150a;

}

.gallery-h{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "cormorant";
}


.hover1s {
  transform: scale(.9);
  transition: .5s;
}

.hover1s:hover {
  transform: scale(1.05);
}

/*  */




/* Some default styling */
.btn-primary:hover {
  color: #83181A;
  background-color: #fff !important;
  border: 1px solid #83181A3f !important;
}
.btn-secondary:hover {
  color: #052747;
  background-color: #fff !important;
  border: 1px solid #0527473f !important;
}
.small-menu:hover {
  color: #83181A !important;
  background-color: #f4f4f2;
}

.small-menu-active {
  color: #83181A !important;
  background-color: #f4f4f2;
}

.circle-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.copyright {
  text-align: center;
}
.pointer{
  cursor:pointer !;
}
.absolute {
  position: absolute;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}
.navbar-toggler {
  padding: 0;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: rgb(23 53 123);
  background-color: transparent;
  border: var(--bs-border-width) solid rgb(0 0 0 / 0%);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

hr{
  height: .15rem ;
  background-color: #f4f4f2;
}

.footer-hover:hover{
  color: #d8c4c486 !important;
}

.mt-7{
  margin-top: 3.5rem;
}